/**************
SITEMAP PAGE
**************/

.sitemap-container {
  max-width:950px;
  margin: 10px auto 60px;
}

  .sitemap-container a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #5ab9e1;
  }

  .sitemap-container a:hover {
    color:#3397c1;
  }

  .sitemap-container ul {
    list-style-type: none;
    margin:0;
    margin-bottom:30px;
    line-height: normal;
  }

  .sitemap-container ul li {
    list-style-type: none;
    margin:0;
    margin-bottom:13px;
    line-height: 18px;

  }

.sitemap-title-container {
    padding-left:20px;
}

  .row .sitemap-title-container h2.sitemap-h2, .row .sitemap-title-container h2.sitemap-h2-first {
      font-family: 'Raleway', 'Arial Black', Arial, sans-serif;
      font-weight: 200;
      font-size: 26px;
      margin-top:50px;
      border-bottom: 1px #ddd dashed;
      padding-bottom: 10px;
  }

  .row .sitemap-title-container h2.sitemap-h2-first {
      margin-top:0;
  }

  .sitemap-title-container h3.sitemap-h3 {
    font-family: 'Raleway', 'Arial Black', Arial, sans-serif;
    color: #393C40;
    font-size: 17px;
    margin: 0 0 5px 0;
    font-weight:600;
  }

@media (max-width: 767px) {
  .sitemap-section {
    width:33% !important;
    float:left !important;
  }

  .sitemap-section-container {
    width:100%;
  }

  .sitemap-container ul {
    width:88%;
  }

  .row .sitemap-title-container h2.sitemap-h2, .row .sitemap-title-container h2.sitemap-h2-first {
    font-size: 22px;
  }

}

@media (max-width: 570px) {
  .sitemap-section {
    width:100% !important;
  }
}
