/* Blog Subscription Modal */

.blog-subscribe-container form#hsForm_dc0d7872-37ca-4b31-a5e1-2ec27ddfdba5.hs-form.stacked {
  background-color: #fff !important;
  margin: 0;
  padding: 0;
}

.blog-subscribe-container #form-modal-subscribe.blog-subs-modal .blog-subscribe-modal-form {
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: none;
}

.blog-subscribe-container #form-modal-subscribe {
  color: #000;
  margin: auto !important;
  top: 90px;
  position: fixed;
  z-index: 100000;
  left: 0;
  right: 0;
  max-width: 600px;
  padding: 15px;
  display: none;
}

.blog-subscribe-container #form-modal-subscribe.blog-subs-modal .blog-subscribe-modal-form .hs-input {
  border: 1px #c4ced1 solid;
  background: #fff;
  height: 50px;
  padding: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.blog-subscribe-container #form-modal-subscribe.blog-subs-modal .blog-subscribe-modal-form input[type="submit"] {
  background: #70cf32;
  color: #fff;
  border-radius: 3px;
  border-top: 0 !important;
  height: 50px;
  margin-top: 5px;
}

.blog-subscribe-container #form-modal-subscribe ul {
  padding: 0;
  margin: 3px 0 10px 0;
}

.blog-subscribe-container #form-modal-subscribe label {
  color: #f6574d;
  text-transform: none;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  letter-spacing: normal;
}

.blog-subscribe-container #form-modal-subscribe .hs-error-msgs label::before {
  content: "* ";
  color: #f6574d;
  font-weight: bold;
}

.blog-subscribe-container .submitted-message {
  color: #70cf32;
  display: block;
  border: 1px #70cf32 dotted;
  font-size: 14px;
  text-align: center;
  font-family: 'Raleway', 'Arial Black', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 20px;
}

.blog-subscribe-modal {
  display: flex;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
}

.blog-subscribe-modal img {
  margin: 0 !important;
  padding: 0;
}

.blog-subscribe-modal .text-container {
  padding: 60px;
  margin: auto;
  height: auto;
  text-align: center;
}

i.fa.fa-envelope-o.fa-4x {
  color: #6fd5d9;
  font-size: 1em;
}

.blog-subscribe-modal h1 {
  color: #2d3033;
  text-align: center;
  font-size: 21px;
  line-height: 30.8px;
  font-family: 'Raleway', 'Arial Black', Arial, sans-serif;
  font-weight: 100;
  margin: 25px auto 15px;
}

.blog-subscribe-modal .sub-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #a4aeb3;
}

.blog-modal-close-btn {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

span#closeButton {
  font-family: 'Raleway', 'Arial Black', Arial, sans-serif;
  color: #a4aeb3;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

span#closeButton:hover {
  color: #c4ced1;
}

.start-trial-tg-logo {
	height:65px;
}

@media (max-width: 636px) {
  .blog-subscribe-modal h1 {
    font-size: 18px;
    line-height: 26.2px;
  }
  .blog-subscribe-container #form-modal-subscribe {
    top: 10px;
  }
  .blog-subscribe-modal .text-container {
    padding: 40px;
  }
}
