/**********************
LANDING PAGE - ADDONS
**********************/

.addons-lp .lp-header h1 {
    font-weight: 300;
    line-height: 1.4em;
}
.addons-lp .play-button {
    position: absolute;
    top: 380px;
    left: calc(50% - 257px);
}
.addons-lp .play-button a {
    position: absolute;
    width: 75px;
    height: 75px;
}
.addons-lp .play-button a:hover {
    opacity: 0.8;
}
.addons-lp .feature-grid-item h5 {
    padding: 10px 0 10px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #2d3033;
    transition: color ease 0.2s;
}
.addons-lp .feature-grid-item p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    color: #6c7279;
    transition: color ease 0.2s;
}
.addons-lp .feature-grid-item img {
    width: 100px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 991px) {
    .addons-lp .play-button {
      top: 280px;
    }
}
@media only screen and (max-width: 979px) {
    .addons-lp .lp-header h1 {
        font-size: 35px;
    }
}
@media screen and (max-width: 767px) {
    .addons-lp .play-button {
        top: calc(54% - 37px);
        left: calc(50% - 37.5px);
    }
    .addons-lp .lp-header h1 {
        font-size: 30px;
    }
    .addons-lp .landing-masthead-fixed {
        padding-top: 0;
        height: initial;
    }
    .addons-lp .lp-header h1 {
        margin-top: 0;
    }
}
/**************
LANDING PAGE - SHOPIFY ADDON
**************/

.landing-masthead-shopify {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/shopify-landing-page/lp-header-shopify.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-shopify {
        text-align: center;
        background: none;
    }
}
/**************
LANDING PAGE - XERO ADDON
**************/

.landing-masthead-xero {
    background-image: url(http://resources.tradegecko.com/hubfs/site/images/landing_pages/addons-landing-page/lp-header-xero.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-xero {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - QUICKBOOKS ADDON
**************/

.landing-masthead-quickbooks {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-quickbooks.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-quickbooks {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - WOOCOMMERCE ADDON
**************/

.landing-masthead-woocommerce {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-woocommerce.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-woocommerce {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - AMAZON ADDON
**************/

.landing-masthead-amazon {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-amazon.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-amazon {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - BIGCOMMERCE ADDON
**************/

.landing-masthead-bigcommerce {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-bigcommerce.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-bigcommerce {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - MAGENTO ADDON
**************/

.landing-masthead-magento {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-magento.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-magento {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - DRUPAL ADDON
**************/

.landing-masthead-drupal {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-drupal.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-drupal {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - 3PL ADDON
**************/

.landing-masthead-3pl {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-3pl.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-3pl {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - LOKAD ADDON
**************/

.landing-masthead-salescast {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-lokad.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-salescast {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - SHIPSTATION ADDON
**************/

.landing-masthead-shipstation {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-shipstation.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-shipstation {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - STARSHIPIT ADDON
**************/

.landing-masthead-starshipit {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-star-ship-it-161004.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-starshipit {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - CROSSFIRE ADDON
**************/

.landing-masthead-crossfire {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-crossfire.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-crossfire {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - EFULFILLMENT ADDON
**************/

.landing-masthead-efulfillment {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-efulfillment.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-efulfillment {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - SALESFORCE ADDON
**************/

.landing-masthead-salesforce {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-salesforce.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-salesforce {
        background: none;
        text-align: center;
    }
}
/**************
LANDING PAGE - INVENTORY PLANNER ADDON
**************/

.landing-masthead-inventory-planner {
    background-image: url(http://cdn2.hubspot.net/hubfs/407937/site/images/landing_pages/addons-landing-page/lp-header-inventory-planner.jpg);
}
@media screen and (max-width: 767px) {
    .landing-masthead-inventory-planner {
        background: none;
        text-align: center;
    }
}
