/********************************
GLOBAL GROUP - WHAT IS TRADEGECKO
********************************/

.tg-banner h2 {
    padding: 15px 0 20px;
    margin: 0;
}
.tg-banner img {
    width: 100% !important;
    max-width: 340px;
}
@media screen and (max-width: 767px) {
    .tg-banner {
        text-align: center;
    }
}
